<table class="shimmer-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Row 1 -->
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
        
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
        
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
        
        <!-- Row 2 -->
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
        <!-- Row 3 -->
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>

        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
        <tr>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
            <td><div class="shimmer shimmer-cell"></div></td>
        </tr>
    </tbody>
</table>
    
    
