
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 
  .card{
      margin-bottom:2px;
  }

  
  .usercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .usercard {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
  }
  .usercard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .userinnercard {
    display: flex;
    flex-direction: column;
  }
  .btn-primary-submit {
    background-color: #D3FB52;
    border: 1px solid black; /* Change border color to black */
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    position: relative; /* Position relative for icon positioning */
    color:black;
    
    }
    .btn-primary-submit:hover {
    background-color: #0077cc;
    }
  .frame {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
  }
  .left-frame {
    width: 30%;
    padding: 10px;
    padding-left: 0;
    border-radius: 5px;
  }
  .right-frame {
    width: 75%;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-top: 14px;
    margin-left: 10px;
    border: 1px solid #E2E8F0;
    overflow:auto;
    max-height: 1180px;
    overflow-y: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .table-container::-webkit-scrollbar {
    height: 2px; /* Height of horizontal scrollbar */
    width: 3px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #d0d0d0; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #a8a6a6; /* Thumb color on hover */
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding:10px;
    text-align: start;
    width:auto;
     text-wrap:nowrap;
     color: black;
     border-bottom: 2px solid #e8e6e6;
     min-width: 200px;
  }
  tr{
      width:auto;
  }
  
  /* In your CSS file (shimmer.css or any other) */
.table-comment-cell {
  max-width: 400px; /* You can adjust this width as needed */
  word-wrap: break-word;
  white-space: normal;
}

  th {
    font-weight: 700;
   border-bottom: 1px solid black;
    padding-top: 40px;
    font-size: 14px;
    min-width: 100px;
    text-wrap:wrap !important;
  }
td{
  font-size: 12px;
}
  td:nth-child(1),th:nth-child(1){
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 1px solid rgb(231, 231, 231);
    z-index: 1; /* Ensure the sticky columns are above other columns */
  }

  td:nth-child(1){
    color: #3182ce;
    text-decoration: underline;
    text-wrap: wrap;
    min-width: 100px;
  }


  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
  }
  tr:nth-child(odd) {
    background-color: white;
  }


 
  
  .card label {
    font-weight: bold;
    font-size: 14px;
   
  }
  h5{
    margin: 0;
   }
    
  .card input[type="text"],
  .card input[type="checkbox"],
  .card select {
    font-size: 12px; /* Decreased font size for input values */
  }

  
  .card p{
    font-size: 12px;
  }

  .input-container p{
    padding:0;
    margin: 0;
  }
  .input-container{
    align-items: center;
    margin-bottom:5px;
  }
  
  /* Style for dropdown */
#branch {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23404040" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  appearance: none;
}

/* Hover effect */
#branch:hover {
  border-color: #888;
}

/* Focus effect */
#branch:focus {
  outline: none;
  border-color: #555;
}

/* Styling the dropdown arrow icon */
#branch::-ms-expand {
  display: none;
}

/* Styling options */
#branch option {
  padding: 8px 10px;
}
.percentage {
  background-color: #E0F0E4;
  color: #377E36;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
  font-size: 12px;
}


@media only screen and (max-width: 768px) {
 .bottombar {
    position: fixed;
    top:90%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    border-top: 1px solid #fff; /* Optional: Add a border at the top */
  }

  .bottombar .menu-item {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #fff;
  
  }

  .bottombar .menu-item img {
    margin-bottom: 1px;
  }
  .menu-item span {
    display: block;
    font-size: 8px;
    font-weight:0;
    padding:2px;
    color: #fff;
  }
  .right-frame {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .usercard {
    width: 100%;
  }
  
  .frame {
    flex-direction: column;
  }
  .left-frame, .right-frame {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .card {
    margin: 5px 0;
  }
  table {
    font-size: 12px;
  }
  th, td {
    padding: 10px;
    
  }
  .logo img{
      display:none;
  }
}

 .progress-input-container {
        width: 300px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .progress-input-value {
        flex: 0 0 auto;
        margin: 0 5px;
    }

    .progress-input {
        flex: 1;
    }

    .progress-input-value input {
        width: 40px; /* Adjust width as needed */
        text-align: center;
    }
    
    
    .buttons{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        margin-right:30px;
        margin-left:30px;
    }
    
     .cancelbutton {
   
    border: 1px solid black; /* Change border color to black */
    border-radius: 25px;
    padding: 5px 30px;
    font-weight: bold;
    position: relative; /* Position relative for icon positioning */
    color:black;
    
    }
    
     .applybutton {
    background-color: #D3FB52;
    border: 1px solid black; /* Change border color to black */
    border-radius: 25px;
    padding: 5px 30px;
    font-weight: bold;
    position: relative; /* Position relative for icon positioning */
    color:black;
    
    }
 
.multiselect{
    position: relative;
    max-width: 320px;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 8px;
}

.select-btn{
    display: flex;
    height:30px;
    align-items: center;
    padding :0 16px;
    border-radius: 8px;
    cursor:pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    justify-content: space-between;

}

.select-btn .btn-text{
    font-size: 15px;
    font-weight: 400;
    color:#333;
}

.select-btn .arrow-dwn{
    display: flex;
    height:21px;
    width:21px;
    border-radius: 50%;
    background: #6393f7;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items{
    position:relative;
    margin-top:15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding:16px;
    display: none;
}

.select-btn.open ~ .list-items{
    display: block;
}

.list-items .item{
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    cursor:pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius:8px;

}
.list-items .item:hover{
    background-color: #e7edfe;
}

.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color:#333;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height:16px;
    width:16px;
    border-radius:4px;
    margin-right: 12px;
    border:1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.checkbox .check-icon{
    color: #fff;
   font-size: 11px;
   transform:scale(0);
   transition: all 0.3s ease-in-out;
}

.item.checked .check-icon{
    transform:scale(1);
}

.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}

.progress-input-value input{
    font-size:12px;
}

h5{
    padding-bottom:10px;
}

/* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  transition: transform 0.3s;

  background: linear-gradient(
    90deg,
    rgb(211, 251, 82) 0%,
    rgba(132, 116, 254, 1) 100%
  );
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #f4f5f2;
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
}
