.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
 float: center;
}
@keyframes l3 {to{transform: rotate(1turn)}}



.container {
  display: flex; /* Use flexbox */
  margin:30px;
  
}


.section1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding:0;
  margin:0;
  
}

/* .left-half,
.Right-half {
  flex: 1; 
} */



.Right-half {
  background-color: white;
  padding:10px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}



.graphcard {
  width: 87%;
 
  margin: 30px;
  background-color: #ccc; /* You can add your desired background color */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



.jobcard img{
  justify-content: center;
  align-items: center;
}

.jobcontainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
 
  
}
/* Hide the default scrollbar */
.jobcontainer {
scrollbar-width: thin; /* Firefox */
overflow-y: auto; /* Enable vertical scrolling */
}

/* Webkit browsers (Chrome, Safari) */
.jobcontainer::-webkit-scrollbar {
width: 3px; /* Set the width of the scrollbar */
}

/* Track */
.jobcontainer::-webkit-scrollbar-track {
background: transparent; /* Set the background color of the scrollbar track */
}

/* Handle */
.jobcontainer::-webkit-scrollbar-thumb {
background: #888; /* Set the color of the scrollbar handle */
border-radius: 10px; /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
.jobcontainer::-webkit-scrollbar-thumb:hover {
background: #555; /* Change the color of the scrollbar handle on hover */
}

/* Hover state */
.job:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.default-job{
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.3;
  cursor: none;
  border-bottom: 1px solid #55555500;
  
}

/* Active state */
.job.active {
  background-color: #e0e0e0;
  border-color: #b9d7f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px; /* Rounded borders for the cards */
  overflow-y: auto;
  height: 90vh;
}

.job-listing {
  width: 45%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  max-height:1000px
  
}

.job {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.job.clicked {
  background-color: blue; /* Change to the desired color */
}


.job img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-right: 15px;
}

/* .company-logo-cont{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.job-info {
  flex-grow: 1;
}

.job-info h2 {
  margin: 0;
  color: #333;
  font-size: 16px;
  margin-bottom: 3px;
}

.job-info p {
  margin: 8px 0;
  font-size: 14px;
  color: #666;
}

.job-description {
  width: 58%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 20px;
}

.job-description h2 {
  margin-top: 0;
  margin-bottom: 0;
}


.bg-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.leffHalf{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.rightHalf{
  width:20%;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 15px;
}


.each-company-count{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100vh;
  overflow-y: scroll;
}

.each-company-count::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
  height: 20px;
}

.each-company-count::-webkit-scrollbar-thumb {
  background-color: #88888841; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Rounded scrollbar */
}


.companyDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: 0 2px 4px rgba(159, 106, 212, 0.244);
}

.company-logo-image{
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.companyLogoDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right-frame {
display: flex;
flex-direction:row;
gap: 40px;
margin-left: 5px;
width: 100%;
}

.image-cont{
  padding: 10px;
  margin: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-cont-1{
  background-color: #7962bd;
 }



.right-frame-icon{
  height: 23px;
  width: 23px;
  margin-left: -2px;
} 


.right-frame-card-inner-section{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 0px !important;
}

.section1card {
  flex: 1;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 6px;
  padding: 5px;
  border-radius: 8px;
  height:140px;
}


.section2card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  width: 15%;
  border: 1px solid #7962bd;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

}

.section2card:hover{
  background-color: rgba(215, 241, 250, 0.194);
  border: 2px solid #7962bd;
}

/* .section2:hover{
  background-color: #7962bd36;
} */



/* .section3:hover{
  background:linear-gradient(to top,#fff, #d4fb5275) ;
}

.section4:hover{
  background:linear-gradient(to top,#fff, #ff914d60) ;
}

.section5:hover{
  background:linear-gradient(to top,#fff, skyblue) ;
} */
/* 
.section3card {
width: 42%;
background-color: white;
margin-top: 5px;
padding: 10px 0;
padding-bottom: 15px;
padding-top: 15px;
padding-left: 25px;
border-radius: 8px;
align-items: flex-start;
text-align: left;
background:  linear-gradient(to top, white, #7962bd43);
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
box-shadow: 0 0 6px #ccc;

}

.section4card {
flex: 1;
background-color: white;
border: 1px solid #ccc;
margin-bottom: 10px;
border-radius: 8px;
align-items: center;
justify-content: center;
height:150px;
text-align: center;
margin-left: 10px;

}
.section5card {
flex: 1;
background-color: white;
border: 1px solid #ccc;

padding: 10px;
border-radius: 8px;
}
 */

 .leftHalf-jobs-container{
  display: flex;
  flex-direction: row;
  
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
 }

 .recent-job-post-heading{
  font-size: 24px;
 }

.recent-job-post{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  width: 23%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-job-post:hover{
  background-color: #d7caff46;
  cursor: pointer;
  margin-top: -10px;
  border-radius: 30px;
}

.recent-job-post-logo{
  height: 50px;
  width: 50px;
}

.recent-job-details-list{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.recent-job-details-list li{
  color: #757575;
font-size: 12px;
margin-right: 10px;
margin-bottom: 10px;
white-space: nowrap;
list-style-type: none;
}

.common-buttons{
 gap: 20px;
 margin-bottom: 20px;
}

.view-applications,.manage-applications{
  background-color: #D3FB52;
  border: 1px solid black; /* Change border color to black */
  border-radius: 25px;
  padding: 5px 30px;
  font-weight: bold;
  position: relative; /* Position relative for icon positioning */
  color:black;
  }

  .create {
    background-color: transparent;
    color: #7962bd;
    padding: 10px 12px;
    border: 2px solid #7962bd;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
  
  .create.active{
    background-color:#7962bd ;
    color: #fff;
  }

  .shortlisted-students-btn {
    background-color: #7962bd;
    border-width: 0px;
    color: #fff;
  }
  
  .create:hover {
    background-color: #7962bd;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px) scale(1.05);
  }
  
  .create:active{
    background-color:#D3FB52;
  }
  

.view-applications-btn{
  background-color: #7962bd;
  color: #fff;
  padding: 10px 15px;
    border: 1px solid #7962bd;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.view-applications-btn:hover{
  background-color: #7962bdd9;
}

.shortlisted-students-btn2{
  background-color: transparent;
  color: #7962bd;
  padding: 10px 15px;
    border: 1px solid #7962bd;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.shortlisted-students-btn2:hover{
  background-color: #7962bd;
  color: #fff;
}


.unplaced{
background-color: #D3FB52;
border: 1px solid black; /* Change border color to black */
border-radius: 25px;
padding: 5px 30px;
font-weight: bold;
position: relative; /* Position relative for icon positioning */
color:black;
position: absolute;
right: 10px;
margin-top: 20px;
margin-right:30px;

}

.details-list {
list-style-type: none;
padding:0;
margin: 0;
display: flex;
/* flex-wrap: wrap; */
margin-top: 8px;
}

.details-list li {
color: #757575;
font-size: 12px;
margin-right: 10px;
margin-bottom: 10px;
white-space: nowrap;
}

/* CSS for mobile responsiveness */
@media only screen and (max-width: 768px) {
.sidebar {
  width: 20%;
}

.main {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  flex-direction: column;
  margin:0;
  padding:0;
}
.left-half{
      flex-direction: column;
}

.section1 {
  flex-direction: column;
}

.left-half, .Right-half {
  width: 100%;
  margin: 0;
  padding:0;
}

.section1card, .left-frame, .right-frame, .section4card, .section5card {
  width: 100%;
  margin-bottom: 20px;
  margin-right:0;
  padding-right:0;

}



.jobcontainer {
  width: 100%;
}

.job-listing, .job-description {
  width: 100%;
}
 .bottombar {
  position: fixed;
  top:90%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-top: 1px solid #fff; /* Optional: Add a border at the top */
}

.bottombar .menu-item {
  display: flex;
  flex-direction: column;
 
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #fff;

}

.bottombar .menu-item img {
  margin-bottom: 1px;
}
#jobChart {
max-width: 100%;
height: auto;
display: block; /* Ensures the canvas behaves like a block element */
}
.main{
    margin:0;
    padding:0;
}
  .unplaced {
  position: static; /* Change position to static */
  display: block; /* Display block to place below */
  margin-top: 10px; /* Adjust margin */
  padding: 3px ; /* Adjust padding */
  padding-right:30px;
  
  box-sizing: border-box; /* Include padding in width calculation */
}
nav{
    display:none;
}

   body.freeze-scroll {
  overflow: hidden; /* Prevent scrolling */
}

.job-description {
  display: none; /* Hide job description by default */
  position: fixed; /* Fixed position for mobile */
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 20px; /* Padding for content */
  box-sizing: border-box; /* Include padding in width/height */
  z-index: 9999; /* Ensure it's above other elements */
}

.close-button {
  position: absolute; /* Position the close button */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.job-listing{
   
    margin:0;
}
}

@media only screen and (min-width: 769px) {
.close-button {
  display: none; /* Hide the close button on larger screens */
}
}

.filter-container {
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
margin-top: 0;
}

.filters {
  display: flex;

gap: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
}

.filter {
flex: 1;
min-width: 200px;
}

.label-card {
  background-color: #eee; /* Main color */
  color: #fff;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 0 20px;
  border-radius: 30px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.label-card:hover {
  background-color: #d8cff2; /* Darker shade on hover */
}

.icon-container {
  display: flex;
  align-items: center;
}

.dropdown-icon {
  transition: transform 0.3s;
}

.label-card:hover .dropdown-icon {
  transform: rotate(180deg); /* Rotate icon on hover */
}

.dropdown-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  display: none;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  overflow: auto;
  height: 300px;
  white-space: nowrap;
}

.filter-search {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.clear-all {
  cursor: pointer;
  color: #d7caff; /* Match with label card color */
  font-weight: bold;
  text-align: center;
  transition: color 0.3s;
}

.clear-all:hover {
  color: #674ab0; /* Darker shade on hover */
}



.options-card {
background-color: #ffffff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
display: none;
flex-direction: column;
gap: 10px;
max-width: 100%;
overflow: auto;
height: 300px;
white-space: nowrap;
}

label {
color:#1B1212;
margin: 0;
}

.checkbox-container {
display: inline-flex;
align-items: center;
padding: 5px;
margin: 5px;
}

.checkbox {
margin-right: 10px;
}



#results {
margin-top: 20px;
}

.checkbox-container:hover {
background-color: #e1e1e1;
}

input[type="checkbox"]:hover + label {
color: #007bff;
}



.down-arrow {
border: solid 	#1B1212;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.show-more {
cursor: pointer;
color: #007bff;
margin-top: 10px;
display: inline-block;
}

.search-container {
margin-bottom: 10px;
position: relative;
}

.search-input {
width: 100%;
padding: 8px 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 14px;
outline: none;
transition: border-color 0.3s;
}

.search-input:focus {
border-color: #007bff;
}

.search-icon {
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
color: #999;
font-size: 14px;
pointer-events: none;
}

.clear-all {
cursor: pointer;
color: #007bff;
margin-bottom: 10px;
display: inline-block;
}
.filter-group {
flex: 1;
min-width: 200px;

}



.dropdown-content {
background-color: #ffffff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
display: none;
flex-direction: column;
gap: 10px;
max-width: 100%;
overflow: auto;
height: 300px;
white-space: nowrap;
}


.filter-group:hover .dropdown-content {
display: block;
}
.filter-search {
width: 100%;
box-sizing: border-box;
margin-bottom: 5px;
/* Adjust as needed */
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 270px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.show-more {
cursor: pointer;
color: #007bff;
margin-top: 5px;
text-decoration: none;
}

.show-more:hover {
color: darkblue;
}

.clear-all {
cursor: pointer;
color: #007bff;
margin-top: 5px;
text-decoration: none;
}

.clear-all:hover {
color: darkblue;
}
.filter-search {
width: calc(100% - 20px); /* Adjust width to fit within the container */
box-sizing: border-box;
padding: 8px 10px; /* Add padding for better spacing */
margin-bottom: 10px; /* Space between the search box and other elements */
border: 1px solid #ccc; /* Light border for distinction */
border-radius: 4px; /* Rounded corners */
font-size: 14px; /* Font size for better readability */
background-color: white; /* Light background color */
transition: border-color 0.3s; /* Smooth transition for border color */
}

.filter-search:focus {
outline: none; /* Remove default outline */
border-color: #88EB4C; /* Change border color on focus */
}
/* Space between each option in dropdown-content */
.dropdown-content div {
margin-bottom: 10px; /* Adjust the value as needed for desired spacing */
}

/* Optional: Add some padding to the entire dropdown content for better spacing */
.dropdown-content {
padding: 10px; /* Adjust the value as needed for desired spacing */
}




.logo-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.company-logo{
  height: 50px;
  width: 50px;
}

.company-title{
  font-weight: bold;
}

.employment-type-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  height: 30px;
}

.employment-type-logo{
  height: 20px;
  width: 20px;
}

.employment-type{
  font-size: 14px;
  text-transform: capitalize;
}