.sidebar-mobile {
    width: 255px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 50; /* Ensure the sidebar is above the overlay */
  }
  
  .sidebar-mobile.open {
    left: 0;
  }
  
  .hamburger-menu {
    z-index: 2000; /* Ensure it's on top */
  }
  
  
  
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-left:8px;
    margin-top: 0;
    
  }
  
  .sidebar-header .logo {
    display: flex;
    align-items: center;
  }
  
  
  .sidebar-header .close-sidebar {
    background: none;
    border: none;
    cursor: pointer;
  }

  .close-sidebar{
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  nav ul li {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgba(37, 37, 37, 0.67);
    margin-left: 10px;
    font-size: 14px;
  }
  
  .queries-section {
    padding: 16px;
  }
  
  .queries-section hr {
    margin: 16px 0;
    border: none;
    border-top: 2px dashed black;
    margin-bottom: 4px;
  }
  
  .queries-section ul {
    list-style: none;
    padding: 0;
  }
  
  .queries-title {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .queries-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 5px;
  }
  
  .queries-section .query-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .queries-section .query-circle {
    background-color: #3a3a3a;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .query-text{
    font-size: 10px;
  }
  .queries-section ul{
    margin-left: 8px;
  }
  
  .footer {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .happiedays-btn {
    background-color: #00C09A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .logo-image {
    margin-left: 10px;
  }

  .happy-image{
    height:30px;
    max-width: 100%;
  }

  .taptap-heading{
    font-size: 14px;
    font-weight: 500;
    margin-left: 9px;
    color:#1A202C
  }

  .queries{
    margin-left: 8px;
  }

 /* Hamburger Menu Styles */
.hamburger-menu {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 2000; /* Ensure it's on top */
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
  
    .sidebar {
      display: none;
    }
  
    .sidebar-mobile {
      left: -100%;
    }
  
    .sidebar-mobile.open {
      left: 0;
    }
  }
  
  
  