
.roww {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.font600{
  font-weight: 600;
  margin: 10px;
}

th{
  font-size: 14px;
}

.grey {
  color: rgba(0, 0, 0, 0.7);
}

.marginr {
  margin-right: 10px;
}

.section3,
.section4 {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  border-radius: 5px;
}

.section3 table {
  width: 100%;
  border-collapse: collapse;
}

.section3 td {
  font-weight: 600;
  font-size: 12px;
}
.section3 th,
.section3 td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
.section3 th:first-child,
.section3 td:first-child {
  text-align: left;
  font-weight: 400;
  text-wrap: nowrap;
}
.section3 tr:last-child {
  font-weight: bold;
}

.section3 button {
  background-color: #d3fb52;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  font-size: 10px;
  padding: 10px 30px;
}

.table-orange {
  background-color: rgba(255, 145, 77, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
}

.table-blue {
  background-color: rgba(48, 148, 240, 0.4); /* Equivalent to #3094F0 */
  border-radius: 5px;
  padding: 5px 10px;
}

.table-red {
  background-color: rgba(255, 94, 129, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
}

.table-green {
  background-color: rgba(0, 182, 155, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

/* Popup styles */
.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative;
}

/* Close button styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
.roww {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marginr {
  margin-right: 10px;
}
.grey {
  color: rgba(0, 0, 0, 0.7);
}
.f14 {
  font-size: 14px;
}

.monthlyReportTable{
  overflow-x: scroll;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Optional: rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: #cecdcd; /* Color of the scrollbar handle */
  border-radius: 10px; /* Optional: rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1; /* Color of the scrollbar handle on hover */
}


/* Shimmer Effect Styles */
.shimmer-wrapper {
  position: relative;
  overflow: hidden;
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 30%
  );
  background-size: 1000px 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-table td,
.shimmer-table th {
  background-color: #f6f7f8;
  position: relative;
  overflow: hidden;
  padding: 25px;
}

.shimmer-cell {
  height: 30px;
  margin: 5px 0;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.shimmer-cell:before {
  content: '';
  display: block;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.2s infinite;
  position: absolute;
  top: 0;
  left: -100%;
}

.shimmer-row {
  display: flex;
}
