.empbands-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.bands {
  display: flex;
  flex-direction: column;
}

.band-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.band-label {
  width: 80px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.band-bar-container {
  display: flex;
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #f0f0f0; /* Add background color for better visualization */
}

.band-bar {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  max-width: 50%; /* Limit each bar to a maximum of 50% of the container width */
  border-radius: 15px; /* Add rounded corners */
}

.left-bar {
  left: 50%; /* Start from the middle */
  transform: translateX(-100%); /* Move it leftwards */
  background-color: rgba(186, 104, 200, 0.8); /* Updated color */
  text-align: right;
}

.right-bar {
  right: 50%; /* Start from the middle */
  transform: translateX(100%); /* Move it rightwards */
  background-color: rgba(75, 0, 130, 0.8); /* Updated color */
  text-align: left;
}

.divider-line {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000; /* Divider line color */
  z-index: 1; /* Ensure it's on top of bars */
}
