.filter-card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.filter-card-header {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.educationDetails, .employabilityDetails{
  background-color: rgba(121, 98, 189, 0.1);
  margin: 10px;
  margin-left: 0;
  padding-top:0.5rem;
    padding-bottom: 1.25rem;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  
}
.checkbox-container div {
  font-size: 12px;
}
.show-more-button,
.show-less-button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #f0f0f0;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.checkbox-container input[type="checkbox"] {
  transform: scale(0.8); /* Adjust the scale as needed */
  margin-right: 5px; /* Optional: Add some spacing between the checkbox and label */
  margin-bottom: 0;
}

.table-container {
  position: relative;
  max-height: 1180px;  
  overflow-y: auto;
}


.custom-button {
  background-color: #d3fb52;
  color: #333;
  padding: 10px 15px;
  border: 2px solid #a1c900;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-button:hover {
  background-color: #b7e300;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.custom-button:active {
  background-color: #a1c900;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: 200px;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.roww{
display: flex;
flex-direction: row;
align-items: center;
}
.marginr{
margin-right: 10px;
}
.grey{
color: rgba(0, 0, 0, 0.7);
}
.f14{
font-size: 14px;
}
 
.f600{
  font-weight: 600;
}
.f20{
  font-size: 20px;
}
.f500{
  font-weight: 500;
}

.f550{
  font-weight: 550;
}

.marginl0{
  margin-left: 10px;
}

.f16{
  font-size: 16px;
}

.hr{
  border-top: 2px solid #d1d1d3;
  padding: 10px;
}

.slider-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.css-8atqhb{
  width: 100%;
}

.slider-label {
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.min {
  font-size: 10px;
}

.slider-input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  width: 50px;
  position: relative;
}

.in1{
  width: 100%;
    position: relative;
}

.in2{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}



.p{
  position: absolute;
  right: 6px;
}


.input-box {
  width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    font-size: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    border: 1px solid rgb(195, 207, 217);
    padding: 0.25rem;
    max-height: 30px;
    background-color: rgb(255, 255, 255);
}

.input-box::-webkit-outer-spin-button,
.input-box::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}

.slider {
  display: grid;
  gap:0.75rem;
  grid-template-columns: 60px minmax(0px, 1fr) 50px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
}

.slider-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  --slider-thumb-size: 0.875rem;
  --slider-track-size: 0.25rem;
  width: 100%;
}

.css-1x4uwa2 {
  text-align: center;
    background: rgb(121, 98, 189);
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    margin-top: calc(1.5rem* -1);
    margin-left: calc(0.75rem* -1);
    width:1.5rem;
}

.css-55n26k {
  --slider-bg: #E2e8f0;
  height: 8px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}

.css-4riw5m {
  width: inherit;
  height: inherit;
  --slider-bg: #3182ce;
  background-color: rgb(121, 98, 189);
}

.css-12m3ufn {
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height:1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  outline-offset: 2px;
  z-index: 1;
  transition-property: transform;
  transition-duration: 200ms;
  
}

.p100{
  margin: 0;
}
.range-slider {
  -webkit-appearance: none;
  width: 130%;
  height: 8px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  cursor: pointer;
  margin-right: 60px;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(121, 98, 189);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(121, 98, 189);
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
  background-color: rgb(121, 98, 189);
  color: white;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: left 0.1s;
  text-align: center;
  width: 30px;
}

.slider-range-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.checkbox-container {
  width: 300px;
  margin: 1rem;
}

.add-more-btn {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 32px;
  position: relative;
  transition: 100ms;
  background-color: rgb(121, 98, 189);
  border-color: rgb(204, 204, 204);
  color: white;
  border-radius: 30px;
  border-style: solid;
  padding: 2px 8px;
  border-width: 1px;
  box-sizing: border-box;
  width: fit-content;
  padding-right: 5px;
  max-height: 32px;
  outline: 0px !important;
  cursor: pointer;
}

.add-more-btn:hover{
  border: 2px solid blue;
}
.options-dropdown {
  margin-top: 3px;
  background-color: #fef8f8;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 50%;
  z-index: 1000; /* Ensure dropdown is on top */
  position: relative;
}

.options-dropdown div {
  cursor: pointer;
}

.selected-options {
  z-index: 1; /* Lower z-index for the selected items section */
}

.add-more-btn {
  z-index: 1; /* Lower z-index for the button */
}


.hr1{
  margin: 0;
  padding: 2px;
  border-bottom: 2px solid #d1d1d3;
}

.options-dropdown div:hover {
  color: rgb(121, 98, 189);
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
}

.selected-option {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  border: 1px solid rgb(121, 98, 189);
  height: 30px;
  margin: 4px;
}

.selected-option button {
  background: none;
  border: none;
  padding-left: 10px;
  padding: 5px;
  color: #6b6767;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}

.selected-option button:hover{
  color:#000;
}


.fetchable-checkbox-group {
  margin-bottom: 20px;
}

.checkbox-group-title {
  font-weight: 550;
  font-size: 14px;
  margin-bottom: 10px;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.checkbox-label input {
  margin-right: 8px;
  cursor: pointer;
}

